/* @mixin mediaLg {
    @media screen and (max-width: 1170px) {
        @content;
    }
} */
.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav, .menu-branding {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    float: left;
    transition: all 0.5s ease-out; }
    .menu-nav.show, .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #211f1f;
    list-style: none;
    transform: translate3d(0, -100%, 0); }
    .menu-nav .nav-item {
      transform: translate3d(600px, 0, 0);
      transition: all 0.5s ease-out; }
      .menu-nav .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu-nav .nav-item.current > a {
        color: #eece1a; }
    .menu-nav .nav-link {
      position: relative;
      display: inline-block;
      padding: 1rem 0;
      color: #fff;
      font-size: 30px;
      font-weight: 300px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.5s ease-out; }
      .menu-nav .nav-link:hover {
        color: #eece1a; }
  .menu-branding {
    background: #2e2b2b;
    transform: translate3d(0, 100%, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      border: solid 3px #eece1a;
      border-radius: 50%;
      background: url("../img/portrait.jpg"); }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;
  color: #fff;
  background: #2e2b2b;
  font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    position: relative;
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(46, 43, 43, 0.9);
      z-index: -1;
      content: ""; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-bottom: 2rem;
    line-height: 1.1;
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(51, 48, 48, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }

.text-secondary {
  color: #eece1a; }

main {
  height: 100%;
  padding: 4rem; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main.home {
    overflow: hidden; }
    main.home h1 {
      margin-top: 20vh; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px solid #fff; }
    .projects img:hover {
      border: 3px solid #eece1a;
      opacity: 0.5;
      transition: all 0.5s ease-out; }
  .projects .btn, .projects .btn-dark, .projects .btn-light {
    display: block;
    margin-bottom: 0.3rem;
    border: 0;
    padding: 0.5rem 1rem; }
    .projects .btn:hover, .projects .btn-dark:hover, .projects .btn-light:hover {
      color: #fff;
      background: #eece1a; }
  .projects .btn-dark {
    background: black;
    color: #fff; }
  .projects .btn-light {
    background: #afa9a9;
    color: #333; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    margin-bottom: 3rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      color: #000;
      background: #eece1a; }
      .boxes div:hover span {
        color: #000; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    padding: 3rem;
    text-align: center; }
    main .lg-heading {
      margin-bottom: 1.5rem;
      font-size: 5rem;
      line-height: 1; }
  .menu-nav, .menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  .menu-nav {
    height: 75vh;
    font-size: 24px;
    transform: translate3d(-100%, 0, 0); }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px;
      background: url("../img/portrait_small.jpg"); }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 1.5rem; }
    main.home h1 {
      margin-top: 10vh; }
    main.contact h1,
    main.work h1 {
      margin-top: 5vh; }
    main .lg-heading {
      margin-bottom: 1.5rem;
      font-size: 3rem; }
    main .sm-heading {
      font-size: 1rem; }
  .projects {
    grid-template-columns: 1fr; }
  .boxes > div {
    border: 1px solid #fff;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem; } }
