@import "config";
@import "menu";

* {
    box-sizing: border-box;
}

body {
    @include background;
    height: 100%;
    margin: 0;
    color: set-text-color($primary-color);
    background: $primary-color;
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

h1,
h2 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        margin-bottom: 2rem;
        line-height: 1.1;
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.text-secondary {
    color: $secondary-color;
}

main {
    height: 100%;
    padding: 4rem;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeInOut();
            }
        }
    }

    &.home {
        overflow: hidden;

        .lg-heading {
            margin-top: 20vh;
        }
    }
}

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    .project {
        position: relative;
        border: 3px solid #fff;
        overflow: hidden;
        @include easeInOut;

        .surprise {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            z-index: 10;

            .btn {
                width: 55%;
                padding: 0.3rem 0.5rem;
                border: 0;
                border-radius: 0.5rem;
                margin: 0 0 1rem 0;
                text-align: center;
                @include easeInOut;
                i {
                    margin: 0 0.5rem 0 0;
                }
            }

            .btn-light {
                @extend .btn;
                color: set-text-color($secondary-color);
                background: lighten($primary-color, 50);
                transform: translateX(-200%);

                &:hover {
                    color: set-text-color($primary-color);
                    background: $secondary-color;
                }

                &:active {
                    color: set-text-color($secondary-color);
                }
            }

            .btn-dark {
                @extend .btn;
                color: set-text-color($primary-color);
                background: darken($primary-color, 50);
                transform: translateX(200%);

                &:hover {
                    color: set-text-color($secondary-color);
                    background: $secondary-color;
                }

                &:active {
                    color: set-text-color($primary-color);
                }
            }
        }

        img {
            display: block;
            width: 100%;
            object-fit: fill;
            @include easeInOut;
        }

        p {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 0.3rem 0.5rem;
            color: set-text-color($secondary-color);
            background: lighten($primary-color, 50);
            font-weight: 600;
            letter-spacing: 0.03em;
            transform: translate(0, 110%);
            @include easeInOut;
        }

        &:hover,
        &:focus {
            border: 3px solid $secondary-color;

            .surprise {
                visibility: visible;
            }

            .btn-light,
            .btn-dark {
                transform: translateX(0);
            }

            img {
                transform: scale(1.2);
                opacity: 0.2;
                @include easeInOut;
            }

            p {
                visibility: visible;
                transform: translate(0, 0);
            }
        }
    }
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    a,
    div {
        margin-bottom: 3rem;
        border: 3px solid set-text-color($primary-color);
        padding: 1.5rem 2.5rem;
        font-size: 2rem;
        text-decoration: none;
        cursor: pointer;
        @include easeInOut;

        span {
            @include easeInOut;
        }

        &:hover {
            color: set-text-color($secondary-color);
            background: $secondary-color;

            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

@import "mobile";
