@import "config";
@import "menu";

* {
    box-sizing: border-box;
}

body {
    @include background;
    height: 100%;
    margin: 0;
    color: set-text-color($primary-color);
    background: $primary-color;
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

h1,
h2 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        margin-bottom: 2rem;
        line-height: 1.1;
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.text-secondary {
    color: $secondary-color;
}

main {
    height: 100%;
    padding: 4rem;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &.home {
        overflow: hidden;

        .lg-heading {
            margin-top: 20vh;
        }
    }
}

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px solid #fff;

        &:hover {
            border: 3px solid $secondary-color;
            opacity: 0.5;
            @include easeOut;
        }
    }

    .btn {
        display: block;
        margin-bottom: 0.3rem;
        border: 0;
        padding: 0.5rem 1rem;

        &:hover {
            color: set-text-color($primary-color);
            background: $secondary-color;
        }
    }

    .btn-dark {
        @extend .btn;
        background: darken($primary-color, 50);
        color: #fff;
    }

    .btn-light {
        @extend .btn;
        background: lighten($primary-color, 50);
        color: #333;
    }
}

.boxes {
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    a,
    div {
        margin-bottom: 3rem;
        border: 3px solid set-text-color($primary-color);
        padding: 1.5rem 2.5rem;
        font-size: 2rem;
        text-decoration: none;
        cursor: pointer;
        @include easeOut;

        span {
            @include easeOut;
        }

        &:hover {
            // padding: 0.5rem 1.5rem;
            color: set-text-color($secondary-color);
            background: $secondary-color;

            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

@import "mobile";
